body {
  background: #000;
  color: #fff;
}

.app{
  text-align: center;
  padding: 5%;
}

.app-title {
  font-size: 28px;
}

/*profile*/

.profile {
  display: flex;
  justify-content: center;
}

.profile-info {
  margin-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border: 1px solid #fff;
  border-radius: 75px;
  object-fit: cover;
}

.profile-name {
  font-size: 26px;
}

.profile-followers, .profile-genres {
  font-size: 18px;
}

/*Gallery*/
.track {
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.track-img {
  width: 220px;
  height: 220px;
  border: 3px solid #fff;
  border-radius: 3px;
  object-fit: cover;
  position: absolute;
}

.track-text {
  background-color: black;
  color: white;
  opacity: 0.75;
  width: 210px;
  margin-left: 5px;
  text-align: center;
  position: absolute;
  bottom:0;
  padding: 10px;
}